body{
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 1080px;
  background-color: #d0d6d6c9;
  
}

.encabezado{
  width: 1920px;
  height: 112px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.733);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

.contenedor_formato{
  background-color: rgba(138, 141, 145, 0.849);
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 333px;
  width: 1579px;
}

/* Estilo del formulario */
.formato {
  width: 1579px; 
  display: flex;
  gap: 100px; /* Espacio entre el input y el button */
  background-color: #ffffff; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  align-items: center; /* Centra verticalmente el contenido del formulario */
}

.button{
  width: 257px;
  height: 75;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: gray;
}


.input{
  width: 953px; /* Ancho del input */
  height: 75px; /* Alto del input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 30px;
}


.contenedor_secciones {
  display: flex;
  justify-content: space-between; /* Espacio igual entre secciones */
  padding: 1px;
  box-sizing: border-box;
}

.secciones {
   width: 475px;
   height: 248px;
   background-color: rgba(138, 141, 145, 0.849);
   color: #fff; 
   display: flex;
   justify-content: center;
   font-size: 20px;
  text-align: center; /* Centra el texto */

}

.contenedor_parrafos{
  display: flex;
  justify-content: space-between; /* Espacio igual entre secciones */
  width: 100%; /* O el ancho del contenedor padre */
  padding: 5px;
  box-sizing: border-box;

}

.parrafo {
  width: 475px;
  height: 96px;
  background-color: rgba(138, 141, 145, 0.849);
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center; /* Centra el texto */
  color: #fff; 

}

.footer {
  width: 1920px;
  height: 112px; 
  background-color: #333; 
  color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

/* Estilo de los enlaces en el footer */
.footer-links {
  margin-top: 10px;
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.footer-links a {
  color: #fff; /* Texto blanco */
  text-decoration: none; /* Eliminar subrayado */
  font-size: 14px;
  transition: color 0.3s; /* Transición suave para el cambio de color */
}

.footer-links a:hover {
  color: #007bff; /* Cambia el color al pasar el ratón */
  text-decoration: underline; /* Subrayar al pasar el ratón */
}